<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Editar Produto</title>
</head>
<body>
    <h1>Editar Produto</h1>
    <form th:action="@{/produto/salvar}" th:object="${produto}" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">

        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" th:field="*{nome}" required><br>

        <label for="descricao">Descrição</label>
        <textarea name="descricao" id="descricao" th:field="*{descricao}" required></textarea><br>

        <label for="preco">Preço</label>
        <input type="number" name="preco" id="preco" step="0.01" th:field="*{preco}" required><br>

        <label for="quantidade">Quantidade</label>
        <input type="number" name="quantidade" id="quantidade" th:field="*{quantidade}" required><br>

        <label for="fornecedor">Fornecedor</label>
        <input type="text" name="fornecedor" id="fornecedor" th:field="*{fornecedor}" required><br>

        <label for="imagem">Imagem</label>
        <input type="file" name="imagem" id="imagem">

        <button type="submit">Salvar</button>
    </form>

    <a href="/listar">Cancelar</a>
</body>
</html>       