<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Categoria</th>
            <th>Fornecedor</th>
            <th>Imagem</th>
            <th>Ações</th>
        </tr>
        <tr th:each="produto : ${produto}">
            <td th:text="${produto.id}"></td>
            <td th:text="${produto.nome}"></td>
            <td th:text="${produto.descricao}"></td>
            <td th:text="${produto.preco}"></td>
            <td th:text="${produto.quantidade}"></td>
            <td th:text="${produto.categoria}"></td>
            <td th:text="${produto.fornecedor}"></td>
            <td>
                <img th:src="@{/produto/imagem/{id}(id={produto.id})}" alt="Imagem do Produto" class="produto-imagem">
            </td>
            <td>
                <div class="acao">
                    <a th:href="@{/produto/editar/{id}(id=${produto.id})}">
                        <button type="button" class="edit">Editar</button>
                    </a>

                    <form th:action="@{/produto/deletar/{id}(id=${produto.id})}" method="post">
                        <button type="submit" onclick="return confirm('Tem certeza que deseja deletar este produto?');"
                                class="del"> Deletar
                        </button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <a th:href="@{/cadastrar}">
        <button type="button">Cadastrar Novo Produto</button>
    </a>
</body>
</html>