/Lógica Programação/Gustavo/Java/firstApp/nbproject/private/
/Lógica Programação/Gustavo/Java/firstApp/build/
/Lógica Programação/Gustavo/Java/Aula1/nbproject/private/
/Lógica Programação/Gustavo/Java/Aula1/build/
/Lógica Programação/Gerson/Java/AppBanco/nbproject/private/
/Lógica Programação/Gerson/Java/AppBanco/build/
/Lógica Programação/Gerson/Java/AppBanco2/nbproject/private/
/Lógica Programação/Gerson/Java/BancoWithMenu/nbproject/private/
/Lógica Programação/Gerson/Java/BancoWithMenu/build/
/AI PSII 2024/Lógica Programação/Gerson/Java/BancoWithMenu/nbproject/private/
/AI PSII 2024/Lógica Programação/Gerson/Java/BancoWithMenu/build/
/AI PSII 2024/Lógica Programação/Gerson/Java/AppBanco/nbproject/private/
/AI PSII 2024/Lógica Programação/Gerson/Java/AppBanco/build/
/AI PSII 2024/Lógica Programação/Gerson/Java/Gráfico/FirstForm/nbproject/private/
/AI PSII 2024/Lógica Programação/Gerson/Java/Gráfico/FirstForm/build/
/AI PSII 2024/Lógica Programação/Gerson/Java/Gráfico/CadCli/nbproject/private/
/AI PSII 2024/Lógica Programação/Gerson/Java/Gráfico/CadCli/build/
/AI PSII 2024/Lógica Programação/Gerson/Java/Gráfico/AppCalculator/nbproject/private/
/AI PSII 2024/Lógica Programação/Gerson/Java/Gráfico/AppCalculator/build/
/AI PSII 2024/Lógica Programação/Gerson/Java/Gráfico/Tela/nbproject/private/
/AI PSII 2024/Lógica Programação/Gerson/Java/Gráfico/Tela/build/
/AI PSII 2024/Lógica Programação/Gerson/Java/Gráfico/Tela/dist/
/AI PSII 2024/Desenvolvimento de Sistemas/Gerson/Interface Gráfica/AppCodeForm/nbproject/private/
/AI PSII 2024/Desenvolvimento de Sistemas/Gerson/Interface Gráfica/AppCodeForm/build/
/AI PSII 2024/Desenvolvimento de Sistemas/Gerson/Interface Gráfica/AppDesignForm/nbproject/private/
/AI PSII 2024/Desenvolvimento de Sistemas/Gerson/Interface Gráfica/AppDesignForm/build/
/AI PSII 2024/Desenvolvimento de Sistemas/Gerson/Interface Gráfica/PedidoApp/nbproject/private/
/AI PSII 2024/Desenvolvimento de Sistemas/Gerson/Interface Gráfica/PedidoApp/build/
/AI PSII 2024/Desenvolvimento de Sistemas/Gerson/Interface Gráfica/CadApp/nbproject/private/
/AI PSII 2024/Desenvolvimento de Sistemas/Gerson/Interface Gráfica/CadApp/build/
