@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --bg-color: #0a0a0a;
    --table-color: #171717;
    --thead-color: #262626;
    --tr-even-color: #1b1b1b;
    --text-color: #fafafa;
    --btn-bg-color: #d4d4d8;
    --opaque-text-color: #737373;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: "Inter";
}

.backdrop.enabled {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(10px);

    & button {
        display: block;
        background-color: transparent;
        border: none;
        position: absolute;
        right: 50px;
        top: 50px;

        & span {
            color: var(--text-color);
        }
    }
}

.backdrop {
    display: none;

    & button {
        display: none;
    }
}

.img.enabled {
    display: block;
    width: 600px;
    height: 600px;
    object-fit: contain;
    border-radius: 10px;
}

.img {
    display: none;
}

::-webkit-scrollbar {
    width: 20px;
}
/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--thead-color);
    border-radius: 10px;
    border: 5px solid var(--bg-color);
    transition-duration: 0.2s;
}

body {
    background-color: var(--bg-color);
    padding: 40px;
    padding-bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    & header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        width: 100%;

        & a {
            background-color: var(--btn-bg-color);
            color: var(--bg-color);
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            font-size: small;
            text-decoration: none;
            text-align: center;
            transition-duration: 0.2s;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;

            & span {
                color: var(--bg-color);
            }
        }

        & a:hover {
            filter: brightness(1.2);
        }
    }

    & .scroll {
        overflow-y: scroll;
        width: 100%;
        flex-grow: 1;
    }

    & table {
        width: 100%;
        background-color: var(--table-color);
        border-collapse: collapse;
        overflow: hidden;
        border-radius: 10px;

        & thead {
            background-color: var(--thead-color);

            & tr th {
                font-weight: normal;
            }
        }

        & tbody tr td {
            color: var(--opaque-text-color);
        }

        & th,
        td {
            padding: 15px 20px;
            text-align: left;
        }

        & tr:nth-child(even) {
            background-color: var(--tr-even-color);
        }

        & img {
            width: 80px;
            height: 80px;
            object-fit: contain;
            border-radius: 5px;
        }

        & .acao {
            display: flex;
            width: 100%;
            justify-content: end;
            gap: 5px;

            & a,
            button {
                background-color: transparent;
                border: none;
                padding: 10px;
                border-radius: 5px;
                font-size: small;
                text-decoration: none;
                text-align: center;
                transition-duration: 0.2s;

                & span {
                    color: var(--opaque-text-color);
                    transition-duration: 0.2s;
                    cursor: pointer;
                }

                & span:hover {
                    color: var(--text-color);
                }
            }
        }
    }
}