*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
}

main{
    background-image: url('assets/background.png');
    background-repeat: repeat-x;
    width: 432px;
    height: 768px;
    animation: slide-bg 7s linear infinite;
    position: relative;
    overflow: hidden;
}

footer{
    position: absolute;
    bottom: 0;
    background-image: url('assets/floor.png');
    background-repeat: repeat-x;
    width: 432px;
    height: 168px;
    animation: slide-bg 3s linear infinite;
    z-index: 1;
}

main .pipeBox{
    top: -25%;
    display: flex;
    flex-direction: column;
    gap: 150px;
    position: absolute;
    width: min-content;
    right: -78px;
    animation: slide 3s linear infinite;
}
main .pipeBox .top{
    transform: scaleY(-1);
}

main .pipeBox1{
    animation: slide 3s 1.5s linear infinite;
}

.bird{
    position: absolute;
    left: 50px;
    top: 30%;
}

@keyframes slide {
    from{
        right: -78px;
    }
    to{
        right: 100%;
    }
}

@keyframes slide-bg {
    from{
        background-position-x: 0;
    } to{
        background-position-x: -432px;
    }
}
